.w{
  width:1220px;
  margin:0 auto;
}

.fl{
  float:left;
}

.fr{
  float: right;
}

.pr{
  position:relative;
}

.pa{
  position: absolute;
}

.active{
  color:#c81623;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

.clearfix{
  *zoom:1 //ie专属清除浮动属性
}

.ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.ellipsis-2{
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}

.del-btn{
  display:block;
  cursor:pointer;
  width:20px;
  height:20px;
  background: url(/static/images/account-icon@2x.32d87deb02b3d1c3cc5bcff0c26314ac.png) -50px -60px no-repeat;
  background-size:240px 107px;
  text-indent:-9999px;
  &:hover{
    background-position: -75px -60px;
  }
}


.gray-box{
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border:1px solid #dcdcdc;
  border-color:rgba(0,0,0,.14);
  box-shadow:0 3px 8px -6px rgba(0,0,0,.1)
}


//表格样式
.pro-para-tbl{
  width:100%;
  margin-bottom: 15px;
  borderr:1px solid #ddd;
}

.pro-para-tbl th{
  height:30px;
  background:#f0f0f0;
  text-align: left;
  vertical-align:middle;
  text-indent: 5px;
}

.pro-para-tbl td{
  padding:3px 5px;
  border:1px solid #ddd;
  color:#666;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

.procon-param{
  padding:20px;
}
